/*
* @Author: lenovo
* @Date:   2019-10-12 15:23:47
* @Last Modified by:   lenovo
* @Last Modified time: 2019-10-26 19:39:57
*/

.el-header, .el-main, .el-footer {
	padding: 0;
}
.cta {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
$them: #999999;
$them-dark: #000;
$them-hover: #FE8C00;
$them-a: #FFC300;
$category-bg: #FFF7EB